body {
  width: 500px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

img {
  width: 497px;
}

h1 {
  font-weight: bold;
  color: lightblue;
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-weight: 700;
  color: lightblue;
  font-family: "Montserrat", sans-serif;
}
main {
  width: 450 px;
}
.div-a {
  padding: 20px;
  text-align: center;
  background-color: black;
  /* background-color: #25a2c3; */
}

.div-a img {
  width: auto;
}

.div-b {
  background-image: url("banner.jpg");
  /* min-height: 75vh;  */
  padding-top: 60px;
  padding-bottom: 30px;
  background-size: cover;
  background-position: center;
}
.div-b h1 {
  font-size: 1.4rem;
}

.div-b button {
  background-color: #f04c2f;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
}
.notebook img {
  width: 375px;
  border-radius: 50% 50% 50% 50% / 48% 49% 51% 52%;
}

.coloro {
  background-color: orangered;
  color: white;
}

.apple {
  border-style: solid;
  border-color: #dee1e3;
  margin: 30px;
}

.apple img {
  width: 436px;
}

.eggplant {
  font-size: medium;
  border-style: solid;
  border-color: #dee1e3;
  margin: 30px;
}

.eggplant img {
  width: 436px;
}
.pineapple {
  border-style: solid;
  border-color: #dee1e3;
  margin: 30px;
}

.pineapple img {
  width: 436px;
}

footer {
  color: white;

  background-color: #25a2c3;
}

footer img {
  width: 16px;
}
h5 {
  text-decoration-line: underline;
}
