body {
  margin: 0;
  width: 500px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

img {
  width: 500px;
}

h1 {
  font-weight: bold;
  color: lightblue;
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-weight: 700;
  color: lightblue;
  font-family: "Montserrat", sans-serif;
}
main {
  width: 450 px;
}
.div-a {
  padding: 20px;
  text-align: center;
  background-color: black;
  /* background-color: #25a2c3; */
}

.div-a img {
  width: auto;
}

.div-b {
  background-image: url("banner.jpg");
  /* min-height: 75vh;  */
  padding-top: 60px;
  padding-bottom: 30px;
  background-size: cover;
  background-position: center;
}
.div-b h1 {
  font-size: 1.4rem;
}
.notebook img {
  border-radius: 50% 50% 50% 50% / 48% 49% 51% 52%;
}

.coloro {
  background-color: orangered;
  color: white;
}

.apple {
  border-style: solid;
  border-color: #dee1e3;
}

.eggplant {
  font-size: medium;
  border-style: solid;
  border-color: #dee1e3;
}

.pineapple {
  border-style: solid;
  border-color: #dee1e3;
}

footer {
  text-decoration: underline;
}

.h8 {
  text-decoration: underline;
}
